doctype html
html(lang='es')
  head
    title Mi primer chat con Express, Socket.io y Jade.
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='js/handlebars-v3.0.3.js')
    script(src='js/helpers.js')

    script.
      $(document).ready(function() {
        var msg = $('#msg-tmplt').html();
        var msg_tmplt = Handlebars.compile(msg);      
        var websocket = io.connect();
        websocket.on('nuevo_mensaje', function(data){
          if(data['num'] % 5 == 0) {
            var msgs = $('.mensajes > li');
            msgs.slideUp(500, function() { msgs.remove() });
          }
          data.ts_loc = new Date();
          $('.mensajes').append(msg_tmplt(data));
          $('li[hidden]').fadeIn(1000);
        });
        $(window).on('unload', function() {
          websocket.disconnect();
        });
      });

    script(id='msg-tmplt', type='text/x-handlebars-template')
      li(hidden)
        h3 MENSAJE PUSH {{num}}
        p Mensaje enviado desde el servidor en ts = {{format_ts ts}}
        p Mensaje recibido a las ts = {{format_ts ts_loc}}

  body
    h1 Receptor de mensajes push
    ul(class='mensajes')
